@model IEnumerable<Potential>

<h2>Portfolio Screener</h2>
<h3>All Data</h3>
<ul>
    <li><a class="testes" asp-area="" asp-controller="Potential" asp-action="Index">Overview</a></li>
    <li><a class="testes" asp-area="" asp-controller="Potential" asp-action="GetMoreData">Get More Data</a></li>
    <li><a class="testes" asp-area="" asp-controller="Potential" asp-action="Screen">Screen New Data</a></li>
    <li><a class="testes" asp-area="" asp-controller="Potential" asp-action="DisplayAllData">Display All Data</a></li>
    <li><a class="testes" asp-area="" asp-controller="Potential" asp-action="InitDB">Initialize Data</a></li>
</ul>
   
<div id="testing-screener">
    <h3>All Potential Data</h3>
    <table class="table table-scroll table-striped responsive">
        <tr>
            <th>Score</th>
            <th>Symbol</th>
            <th>Price</th>
            <th>Company</th>
            <th>MarketCap</th>
            <th>1YrH</th>
            <th>1YrL</th>
            <th>1YrChg</th>
            <th>10DAvgV</th>
            <th>30DAvgV</th>
            <th>EPS</th>
            <th>DivRate</th>
            <th>DivYield</th>
            <th>nextDiv</th>
            <th>LastDiv</th>
            <th>Divfreq</th>
            <th>PE</th>
            <th>beta</th>
            <th>5Yr%Chg</th>
            <th>1Yr%Chg</th>
            <th>6M%Chg</th>
            <th>3M%Chg</th>
            <th>1M%Chg</th>
            <th>30D%Chg</th>
            <th>5D%Chg</th>
            <th>Exchange</th>
            <th>Class</th>
            <th>Updated</th>
        </tr>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.score</td>
                <td>@m.symbol</td>
                <td>@Math.Round(@m.price, 5)</td>
                <td>@m.companyName</td>
                <td>@m.marketCap</td>
                <td>@Math.Round(@m.week52High, 5)</td>
                <td>@Math.Round(@m.week52Low, 5)</td>
                <td>@Math.Round(@m.week52Change, 5)</td>
                <td>@Math.Round(@m.avg30Volume, 5)</td>
                <td>@Math.Round(@m.avg10Volume, 5)</td>
                <td>@Math.Round(@m.ttmEPS, 5)</td>
                <td>@Math.Round(@m.ttmDividendRate, 5)</td>
                <td>@Math.Round(@m.dividendYield, 5)</td>
                <td>@m.nextDividendDate</td>
                <td>@m.exDividendDate</td>
                <td>@Math.Round(@m.dividendFrequency, 5)</td>
                <td>@Math.Round(@m.peRatio, 5)</td>
                <td>@Math.Round(@m.beta, 5)</td>
                <td>@Math.Round(@m.year5ChangePercent, 5)</td>
                <td>@Math.Round(@m.year1ChangePercent, 5)</td>
                <td>@Math.Round(@m.month6ChangePercent, 5)</td>
                <td>@Math.Round(@m.month3ChangePercent, 5)</td>
                <td>@Math.Round(@m.month1ChangePercent, 5)</td>
                <td>@Math.Round(@m.day30ChangePercent, 5)</td>
                <td>@Math.Round(@m.day5ChangePercent, 5)</td>
                <td>@m.exchange</td>
                <td>@m.assetClass</td>
                <td>@m.updated</td>
            </tr>
        }
    </table>
</div>