@model PortfolioPal.ViewModels.ScreenerIndexVM

<h2>Portfolio Screener</h2>
<h3>Overview</h3>
<ul>
    <li><a class="testes" asp-area="" asp-controller="Potential" asp-action="Index">Overview</a></li>
    <li><a class="testes" asp-area="" asp-controller="Potential" asp-action="GetMoreData">Get More Data</a></li>
    <li><a class="testes" asp-area="" asp-controller="Potential" asp-action="Screen">Screen New Data</a></li>
    <li><a class="testes" asp-area="" asp-controller="Potential" asp-action="DisplayAllData">Display All Data</a></li>
    <li><a class="testes" asp-area="" asp-controller="Potential" asp-action="InitDB">Initialize Data</a></li>
</ul>
   
<div id = "table-summaries">
    <table class="table-tiny table-striped responsive">
        <tr>
            <th>Updated Assets</th>
            <th>User Selected Assets</th>
            <th>Potential Assets</th>
            <th>Total Assets</th>
        </tr>
        <tr>
            <td>@Model.NumAllUpdatedAssets</td>
            <td>@Model.NumUserSelectedAssets</td>
            <td>@Model.NumAllFilteredAssets</td>
            <td>@Model.NumAllAvailableAssets</td>
        </tr>
    </table>
</div>
<!-- 

<div id = "table-summaries">
    <table class="table" id="user-preferred-assets">
        <tr>
            <th>Preferred Assets</th>
        </tr>
        foreach(var p in Model.UserTradeAssets)
        {
            <tr>
                <td>p</td>
            </tr>
        }
    </table>
    <table class="table" id="user-optional-assets">
        <tr>
            <th>Optional Assets</th>
        </tr>
        foreach (var o in Model.UserDividendAssets){
            <tr>
                <td>o</td>
            </tr>
        }
    </table>
</div>
-->

<div id="Suggested Dividend Assets">
    <h3>Suggested Dividend Assets</h3>
    <table class="table table-scroll table-striped responsive" id="suggested-dividend-assets">
        <tr>
            <th>Score</th>
            <th>Symbol</th>
            <th>Price</th>
            <th>Company</th>
            <th>MarketCap</th>
            <th>1YrH</th>
            <th>1YrL</th>
            <th>10DAvgV</th>
            <th>30DAvgV</th>
            <th>EPS</th>
            <th>DivRate</th>
            <th>DivYield</th>
            <th>LastDiv</th>
            <th>Divfreq</th>
            <th>PE</th>
            <th>beta</th>
            <th>5Yr%Chg</th>
            <th>1Yr%Chg</th>
            <th>6M%Chg</th>
            <th>3M%Chg</th>
            <th>1M%Chg</th>
            <th>5D%Chg</th>
            <th>Exchange</th>
            <th>Class</th>
            <th>Updated</th>
        </tr>
        @foreach (var m in Model.SuggestedDividendAssets)
        {
            <tr>
                <td>@m.score</td>
                <td>@m.symbol</td>
                <td>@Math.Round(@m.price, 2)</td>
                <td>@m.companyName</td>
                <td>@m.marketCap</td>
                <td>@Math.Round(@m.week52High, 2)</td>
                <td>@Math.Round(@m.week52Low, 2)</td>
                <td>@m.avg10Volume</td>
                <td>@m.avg30Volume</td>
                <td>@Math.Round(@m.ttmEPS, 4)</td>
                <td>@Math.Round(@m.ttmDividendRate, 4)</td>
                <td>@Math.Round(@m.dividendYield, 4)</td>
                <td>@m.exDividendDate</td>
                <td>@Math.Round(@m.dividendFrequency, 4)</td>
                <td>@Math.Round(@m.peRatio, 4)</td>
                <td>@Math.Round(@m.beta, 4)</td>
                <td>@Math.Round(@m.year5ChangePercent, 4)</td>
                <td>@Math.Round(@m.year1ChangePercent, 4)</td>
                <td>@Math.Round(@m.month6ChangePercent, 4)</td>
                <td>@Math.Round(@m.month3ChangePercent, 4)</td>
                <td>@Math.Round(@m.month1ChangePercent, 4)</td>
                <td>@Math.Round(@m.day5ChangePercent, 4)</td>
                <td>@m.exchange</td>
                <td>@m.assetClass</td>
                <td>@m.updated</td>
            </tr>
        }
    </table>

</div>

<div id="Suggested Trade Assets">
    <h3>Suggested Trade Assets</h3>
    <table class="table table-striped responsive" id="suggested-trade-assets">
        <tr>
            <th>Score</th>
            <th>Symbol</th>
            <th>Price</th>
            <th>Company</th>
            <th>MarketCap</th>
            <th>1YrH</th>
            <th>1YrL</th>
            <th>30DAvgV</th>
            <th>EPS</th>
            <th>DivRate</th>
            <th>DivYield</th>
            <th>PE</th>
            <th>beta</th>
            <th>5Yr%Chg</th>
            <th>1Yr%Chg</th>
            <th>6M%Chg</th>
            <th>3M%Chg</th>
            <th>1M%Chg</th>
            <th>5D%Chg</th>
            <th>Exchange</th>
            <th>Class</th>
            <th>Updated</th>
        </tr>
        @foreach (var m in Model.SuggestedTradeAssets)
        {
            <tr>
                <td>@m.score</td>
                <td>@m.symbol</td>
                <td>@Math.Round(@m.price, 2)</td>
                <td>@m.companyName</td>
                <td>@m.marketCap</td>
                <td>@Math.Round(@m.week52High, 2)</td>
                <td>@Math.Round(@m.week52Low, 2)</td>
                <td>@m.avg30Volume</td>
                <td>@Math.Round(@m.ttmEPS, 4)</td>
                <td>@Math.Round(@m.ttmDividendRate, 4)</td>
                <td>@Math.Round(@m.dividendYield, 4)</td>
                <td>@Math.Round(@m.peRatio, 4)</td>
                <td>@Math.Round(@m.beta, 4)</td>
                <td>@Math.Round(@m.year5ChangePercent, 4)</td>
                <td>@Math.Round(@m.year1ChangePercent, 4)</td>
                <td>@Math.Round(@m.month6ChangePercent, 4)</td>
                <td>@Math.Round(@m.month3ChangePercent, 4)</td>
                <td>@Math.Round(@m.month1ChangePercent, 4)</td>
                <td>@Math.Round(@m.day5ChangePercent, 4)</td>
                <td>@m.exchange</td>
                <td>@m.assetClass</td>
                <td>@m.updated</td>
            </tr>
        }
    </table>
</div>








