@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model AssetRepo

<h2>Trade Assets</h2>

<div id="assets-actions">

<ul>
    <li><a class="testes" asp-area="" asp-controller="TradeAssets" asp-action="UpdateAssets">Update Trade Assets</a></li>
    <li><a class="testes" asp-area="" asp-controller="TradeAssets" asp-action="Index">Reset Trade Assets</a></li>
    <li><a class="testes" asp-area="" asp-controller="TradeAssets" asp-action="Index">Edit Trade Assets</a></li>
</ul>
</div>


<div id="active-assets-overview">
    <h3>Active Assets</h3>
    <section>
        <table class="table table-striped responsive">
            <tr>
                <th>Number Traded Assets</th>
                <th>Total Orders</th>
                <th>Buys/Sells</th>
                <th>Total Traded</th>
            </tr>
            <tr>
                <td>@Model.NumAssetsTraded</td>
                <td>@Model.TotalNumberTrades</td>
                <td>@Model.TotalNumberBuys / @Model.TotalNumberSells</td>
                <td>$@Math.Round(@Model.TotalTraded, 2)</td>
            </tr>
        </table>
    </section>
</div>

<div id="recent-orders">
    <table class="table table-striped responsive">
        <tr>
            <th>symbol</th>
            <th>side</th>
            <th>status</th>
            <th>filledQty</th>
            <th>filledPrice</th>
            <th>filledAt</th>
            <th>orderType</th>
            <th>assetClass</th>
            <th>clientOrderId</th>
        </tr>
        @foreach(var r in Model.RecentFilledOrders){
            <tr>
                <td>@r.symbol</td>
                <td>@r.side</td>
                <td>@r.status</td>
                <td>@r.filledQty</td>
                <td>@r.filledPrice</td>
                <td>@r.filledAt</td>
                <td>@r.orderType</td>
                <td>@r.assetClass</td>
                <td>@r.clientOrderId</td>
            </tr>
        }
    </table>
</div>



