@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Asset>

<h2>Trade Assets</h2>
<div id="assets-actions">
    <ul>
        <li><a class="testes" asp-area="" asp-controller="TradeAssets" asp-action="UpdateAssets">Update Trade Assets</a></li>
        <li><a class="testes" asp-area="" asp-controller="TradeAssets" asp-action="Index">Reset Trade Assets</a></li>
        <li><a class="testes" asp-area="" asp-controller="TradeAssets" asp-action="Index">Edit Trade Assets</a></li>
    </ul>
</div>
<div id="active-assets-overview">
    <h3>All Traded Assets</h3>
    <section>
        <table class="table table-scroll table-striped responsive">
            <tr>
                <th>Symbol</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Side</th>
                <th>MarketValue</th>
                <th>CostBasis</th>
                <th>PL($)Current</th>
                <th>PL(%)Current</th>
                <th>PL($)Today</th>
                <th>PL(%)Today</th>
                <th>LastPrice</th>
                <th>ChangeToday</th>
                <th>TotalTraded</th>
                <th>TotalTrades</th>
                <th>Buys/Sells</th>
                <th>TotalPL(%)</th>
                <th>TotalPL($)</th>
                <th>AssetPL(%)</th>
                <th>Performance</th>
                <th>PriceBaseline</th>
                <th>Shortable</th>
                <th>AssetClass</th>
                <th>Exchange</th>
            </tr>
            @foreach(var a in Model)
            {
                <tr>
                    <td><a href=/TradeAssets/TradedAsset/@a.symbol>@a.symbol</a></td>
                    <td>@Math.Round(@a.current_price, 4)</td>
                    <td>@Math.Round(@a.qty, 6)</td>
                    <td>@a.side</td>
                    <td>@Math.Round(@a.market_value, 2)</td>
                    <td>@Math.Round(@a.avg_entry_price, 2)</td>
                    <td>@Math.Round(@a.pl_dollars_total, 2)</td>
                    <td>@Math.Round(@a.port_pl_total, 4)</td>
                    <td>@Math.Round(@a.pl_dollars_today, 2)</td>
                    <td>@Math.Round(@a.port_pl_current, 4)</td>
                    <td>@Math.Round(@a.lastPrice, 2)</td>
                    <td>@Math.Round(@a.changeToday, 2)</td>
                    <td>@Math.Round(@a.amount_traded_total, 2)</td>
                    <td>@a.num_trades_total</td>
                    <td>@a.num_buys_total/@a.num_sells_total</td>
                    <td>@Math.Round(@a.TotalPLP, 4)</td>
                    <td>@Math.Round(@a.TotalPLD, 2)</td>
                    <td>@Math.Round(@a.asset_pl_total, 4)</td>
                    <td>@Math.Round(@a.performance, 4)</td>
                    <td>@Math.Round(@a.start_price_total, 2)</td>
                    <td>@a.shortable</td>
                    <td>@a.asset_class</td>
                    <td>@a.exchange</td>
                </tr>
            }
        </table>
    </section>
</div>
