@model PortfolioPal.ViewModels.OverviewVM
@{
    
}
<!DOCTYPE HTML>
<head>
    <script>
        window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer-assetdiversity", {
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            exportEnabled: false,
            animationEnabled: true,
            title: {
                text: "Asset Diversity"
            },
            subtitles: [{
                text: ""
            }],
            data: [{
                type: "pie",
                startAngle: 180,
                toolTipContent: "<b>{label}</b>: ${y}",
                showInLegend: "true",
                legendText: "{label}",
                //indexLabel: "{label} - ${y}",
                dataPoints: @Html.Raw(ViewBag.PieDataPoints)
            }]
        });
        chart.render();
        var chart = new CanvasJS.Chart("chartContainer-history", {
            animationEnabled: true,
            title: {
                text: "Daily Performance"
            },
            toolTip: {
                shared: true
            },
            data: [{
                type: "line",
                name: "Equity",
                showInLegend: false,
                dataPoints: @Html.Raw(ViewBag.HistoryDataPoints)
            }]
        });
        chart.render();
        }
    </script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src = "https://canvasjs.com/assets/script/canvas.min.js"></script>
</head>


<div class="container">
    <div class="row-mine">
        <p id="market-performance">
            Market Open: @Model.Portfolio.marketOpen.
            SNP500: @Math.Round(@Model.Performance.SNPPerf,2) %.
            DOW: @Math.Round(@Model.Performance.DOWPerf,2) %.
            Russell: @Math.Round(@Model.Performance.RussellPerf,2) %.
            Today's PL: ($@Math.Round(@Model.Portfolio.todaysPLD, 2)/@Math.Round(@Model.Portfolio.todaysPLP, 2)%)
        </p>
    </div>
    <div class="row-mine">
        <div class="column-mine">
            <div class="row2-mine">
            </div>
            <div class="row2-mine">
                <div id="chartContainer-assetdiversity" style="height: 200px; width: 90%;"></div>
                <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>      
            </div>
            <h4>Portfolio Summary</h4>
            <div class="row2-mine">
                <div class="table-striped">
                    <table class="table-tiny">
                        <tr>
                            <th>Equity</th>
                            <td>$@Math.Round(@Model.Portfolio.equity, 2)</td>
                        </tr>
                        <tr>
                            <th>LastEquity</th>
                            <td>$@Math.Round(@Model.Portfolio.lastEquity, 2)</td>
                        </tr>
                        <tr>
                            <th>Cash</th>
                            <td>$@Math.Round(@Model.Portfolio.cash, 2)</td>
                        </tr>
                        <tr>
                            <th>Long/Short Market Value</th>
                            <td>$@Math.Round(@Model.Portfolio.longMarketValue, 2)/-$@Math.Abs(@Math.Round(@Model.Portfolio.shortMarketValue, 2))</td>
                        </tr>
                        <tr>
                            <th>General/Crypto Status</th>
                            <td>@Model.Portfolio.status / @Model.Portfolio.cryptoStatus</td>
                        </tr>
                        <tr>
                            <th>Accrued Fees</th>
                            <td>$@Math.Round(@Model.Portfolio.accrued_fees, 2)</td>
                        </tr>
                        <tr>
                            <th>Day Trader</th>
                            <td>@Model.Portfolio.patternDayTrader</td>
                        </tr>
                        <tr>
                            <th>Currency</th>
                            <td>@Model.Portfolio.currency</td>
                        </tr>
                        <tr>
                            <th>Account Number</th>
                            <td>@Model.Portfolio.accountNumber</td>
                        </tr>
                        <tr>
                            <th>Birth</th>
                            <td>@Model.Portfolio.createdAt</td>
                        </tr>
                    </table>
                </div>
                <div class="table-striped">
                    <div class="column-mine">
                        <h5>Asset Diversity</h5>
                        <table class="table-tiny">
                            <tr>
                                <th>Stock Holding</th>
                                <td>
                                    $@Math.Round(@Model.Portfolio.stockHoldingActual, 2) (@Math.Round((@Model.Portfolio.stockHoldingActual 
                                    / @Model.Portfolio.stockHoldingLimit) * 100, 1)%) 
                                    </br>/ ($@Math.Round(@Model.Portfolio.stockHoldingLimit, 2))
                                </td>
                            </tr>
                            <tr>
                                <th>Crypto Holding</th>
                                <td>
                                    $@Math.Round(@Model.Portfolio.cryptoHoldingActual, 2) (@Math.Round((@Model.Portfolio.cryptoHoldingActual 
                                    / @Model.Portfolio.cryptoHoldingLimit) * 100, 1)%) 
                                    </br>/ ($@Math.Round(@Model.Portfolio.cryptoHoldingLimit, 2))
                                </td>
                            </tr>
                            <tr>
                                <th>Dividend Holding</th>
                                <td>
                                    $@Math.Round(@Model.Portfolio.dividendHoldingActual, 2) (@Math.Round((@Model.Portfolio.dividendHoldingActual 
                                    / @Model.Portfolio.dividendHoldingLimit) * 100, 1)%) 
                                    </br>/ ($@Math.Round(@Model.Portfolio.dividendHoldingLimit, 2))
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class = "column-mine">
            <div class="row2-mine">
                <div id="chartContainer-history" style="height: 250px; width: 90%;"></div>
                <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
            </div>
            <div class="row2-mine">
                <h4>Portfolio Positions</h4>
                <div class="table-scroll">
                    <table class="table table-striped responsive">
                        <tr>
                            <th>Symbol</th>
                            <th>Price</th>
                            <th>Pl(%)</th>
                            <th>Pl($)</th>
                            <th>Qty</th>
                            <th>Side</th>
                            <th>Market Value</th>
                            <th>Cost Basis</th>
                            <th>Last price</th>
                            <th>Change today</th>
                            <th>Asset class</th>
                        </tr>
                        @foreach (var pos in Model.Portfolio.portfolioPositions){
                            <tr>
                                
                                <td><a href=/TradeAssets/TradedAsset/@pos.symbol>@pos.symbol</a></td>
                                <td>$@pos.current_price</td>
                                <td>@Math.Round(@pos.port_pl_total, 4)</td>
                                <td>$@Math.Round(@pos.pl_dollars_total, 2)</td>
                                <td>@Math.Round(@pos.qty, 2)</td>
                                <td>@pos.side</td>
                                <td>$@Math.Round(@pos.market_value, 2)</td>
                                <td>$@Math.Round(@pos.avg_entry_price, 2)</td>
                                <td>$@Math.Round(@pos.lastPrice, 2)</td>
                                <td>$@Math.Round(@pos.changeToday, 2)</td>
                                <td>@pos.asset_class</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row-mine">
        <h3>Recent Orders</h3>
    </div>
    <div class="row-mine">
        <div class="table-scroll">
            <table class="table table-striped responsive">
                <tr>
                    <th>symbol</th>
                    <th>side</th>
                    <th>status</th>
                    <th>filledQty</th>
                    <th>filledPrice</th>
                    <th>filledAt</th>
                    <th>orderType</th>
                    <th>assetClass</th>
                    <th>clientOrderId</th>
                </tr>
                @foreach(var o in Model.Orders){
                    <tr>
                        <td><a href=/Orders/AssetOrders/@o.symbol>@o.symbol</a></td>
                        <td>@o.side</td>
                        <td>@o.status</td>
                        <td>@o.filledQty</td>
                        <td>@o.filledPrice</td>
                        <td>@o.filledAt</td>
                        <td>@o.orderType</td>
                        <td>@o.assetClass</td>
                        <td>@o.clientOrderId</td>
                    </tr>
                }
            </table>
        </div>

    </div>
</div>

