@model Portfolio
@{
    
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<script src = "https://canvasjs.com/assets/script/canvas.min.js"></script>


<div class="container">
    <div class="row-mine">
        <div class="column-mine">
            <div class="row2-mine">
                <p>Market Open: @Model.marketOpen</p>
                <p>Today's PL: ($@Math.Round(@Model.todaysPLD, 2)/@Math.Round(@Model.todaysPLP, 2)%)</p>
                <h4>Portfolio Summary</h4>
                <div class="table table-striped responsive px-3">
                    <table class="table-tiny">
                        <tr>
                            <th>Equity</th>
                            <td>$@Math.Round(@Model.equity, 2)</td>
                        </tr>
                        <tr>
                            <th>LastEquity</th>
                            <td>$@Math.Round(@Model.lastEquity, 2)</td>
                        </tr>
                        <tr>
                            <th>Cash</th>
                            <td>$@Math.Round(@Model.cash, 2)</td>
                        </tr>
                        <tr>
                            <th>Long/Short Market Value</th>
                            <td>$@Math.Round(@Model.longMarketValue, 2)/-$@Math.Abs(@Math.Round(@Model.shortMarketValue, 2))</td>
                        </tr>
                        <tr>
                            <th>Account Number</th>
                            <td>@Model.accountNumber</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>@Model.status</td>
                        </tr>
                        <tr>
                            <th>SryptoStatus</th>
                            <td>@Model.cryptoStatus</td>
                        </tr>
                        <tr>
                            <th>Currency</th>
                            <td>@Model.currency</td>
                        </tr>
                        <tr>
                            <th>BuyingPower</th>
                            <td>$@Math.Round(@Model.buyingPower, 2)</td>
                        </tr>
                        <tr>
                            <th>Accrued Fees</th>
                            <td>$@Math.Round(@Model.accrued_fees, 2)</td>
                        </tr>
                        <tr>
                            <th>Day Trader</th>
                            <td>@Model.patternDayTrader</td>
                        </tr>
                        <tr>
                            <th>Birth</th>
                            <td>@Model.createdAt</td>
                        </tr>
                    </table>
                </div>
                <div class="table table-striped">
                    <div class="column-mine">
                        <h5>Asset Diversity</h5>
                        <table class="table-tiny">
                            <tr>
                                <th>Stock Holding<br>($@Math.Round(@Model.stockHoldingLimit, 2))</th>
                                <td>$@Math.Round(@Model.stockHoldingActual, 2) (@Math.Round((@Model.stockHoldingActual / @Model.stockHoldingLimit) * 100, 2)%)</td>
                            </tr>
                            <tr>
                                <th>Crypto Holding<br>($@Math.Round(@Model.cryptoHoldingLimit, 2))</th>
                                <td>$@Math.Round(@Model.cryptoHoldingActual, 2) (@Math.Round((@Model.cryptoHoldingActual / @Model.cryptoHoldingLimit) * 100, 2)%)</td>
                            </tr>
                            <tr>
                                <th>Dividend Holding<br>($@Math.Round(@Model.dividendHoldingLimit, 2))</th>
                                <td>$@Math.Round(@Model.dividendHoldingActual, 2) (@Math.Round((@Model.dividendHoldingActual / @Model.dividendHoldingLimit) * 100, 2)%)</td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
            <div class="row2-mine">
                <p>this is where you will put the pie chart </p>
            </div>
        </div>
        <div class = "column-mine">
            <div class="row2-mine">
                <h4>Portfolio Positions</h4>
                <div class="table">
                    <table class="table table-striped responsive">
                        <tr>
                            <th>Symbol</th>
                            <th>Price</th>
                            <th>Pl(%)</th>
                            <th>Pl($)</th>
                            <th>Qty</th>
                            <th>Side</th>
                            <th>Market Value</th>
                            <th>Cost Basis</th>
                            <th>Last price</th>
                            <th>Change today</th>
                            <th>Asset class</th>
                        </tr>
                        @foreach (var pos in Model.portfolioPositions){
                            <tr>
                                
                                <td><a href=/TradeAssets/TradedAsset/@pos.symbol>@pos.symbol</a></td>
                                <td>$@pos.price</td>
                                <td>@Math.Round(@pos.plPercentTotal, 4)</td>
                                <td>$@Math.Round(@pos.plDollarsTotal, 2)</td>
                                <td>@Math.Round(@pos.qty, 2)</td>
                                <td>@pos.side</td>
                                <td>$@Math.Round(@pos.marketValue, 2)</td>
                                <td>$@Math.Round(@pos.costBasis, 2)</td>
                                <td>$@Math.Round(@pos.lastPrice, 2)</td>
                                <td>$@Math.Round(@pos.changeToday, 2)</td>
                                <td>@pos.assetClass</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
            <div class="yeeeesh">
                <p>this is where you will put port history</p>
            </div>
        </div>
    </div>
</div>

