@model IEnumerable<Order>

<div id="order-history">
    <h3>All Filled Asset Orders</h3>
    <table class="table">
        <tr>
                <th>symbol</th>
                <th>filledQty</th>
                <th>filledPrice</th>
                <th>filledAt</th>
                <th>status</th>
                <th>clientOrderId</th>
                <th>qty</th>
                <th>orderType</th>
                <th>assetClass</th>
                <th>extendedHours</th>                
                <th>timeInForce</th>
                <th>orderID</th>
        </tr>
        @foreach (var o in Model){
            <tr>
                <td>@o.symbol</td>
                <td>@Math.Round(@o.filledQty, 4)</td>
                <td>@o.filledPrice</td>
                <td>@o.filledAt</td>
                <td>@o.status</td>
                <td>@o.clientOrderId</td>
                <td>@o.qty</td>
                <td>@o.orderType</td>
                <td>@o.assetClass</td>
                <td>@o.extendedHours</td>                
                <td>@o.timeInForce</td>
                <td>@o.orderID</td>
            </tr>
        }

    </table>
</div>
<div id="graphics-plus-orders">
    <h3>Asset Price/Order Timeline</h3>
    <p>here goes a nice chart of the asset equity
        <br>and we can overlay the orders at the correct time. cool.
    </p>
</div>

