@model OrderRepo

<h2>Portfolio Orders</h2>

<div id="orders-actions">

<ul>
    <li><a class="testes" asp-area="" asp-controller="Orders" asp-action="Index">Overview</a></li>
    <li><a class="testes" asp-area="" asp-controller="Orders" asp-action="AllOrders">Display All Orders</a></li>
    <li><a class="testes" asp-area="" asp-controller="Orders" asp-action="UpdateOrders">Update Orders</a></li>
    <li><a class="testes" asp-area="" asp-controller="Orders" asp-action="GetAllOrders">Initialize Orders</a></li>
</ul>
</div>


<div id="orders-overview">
    <h3>Orders Overview</h3>
    <section>
        <table class="table-tiny table-striped responsive">
            <tr>
                <th>Number Traded Assets</th>
                <th>Total Orders</th>
                <th>Buys/Sells</th>
                <th>Total Traded</th>
            </tr>
            <tr>
                <td>@Model.NumAssetsTraded</td>
                <td>@Model.TotalNumberTrades</td>
                <td>@Model.TotalNumberBuys / @Model.TotalNumberSells</td>
                <td>$@Math.Round(@Model.TotalTraded, 2)</td>
            </tr>
        </table>
    </section>
</div>

<div id="recent-orders">
    <table class="table table-striped responsive">
        <tr>
            <th>symbol</th>
            <th>side</th>
            <th>status</th>
            <th>filledQty</th>
            <th>filledPrice</th>
            <th>filledAt</th>
            <th>orderType</th>
            <th>assetClass</th>
            <th>clientOrderId</th>
        </tr>
        @foreach(var r in Model.RecentFilledOrders){
            <tr>
                <td><a href=/Orders/AssetOrders/@r.symbol>@r.symbol</a></td>
                <td>@r.side</td>
                <td>@r.status</td>
                <td>@r.filledQty</td>
                <td>@r.filledPrice</td>
                <td>@r.filledAt</td>
                <td>@r.orderType</td>
                <td>@r.assetClass</td>
                <td>@r.clientOrderId</td>
            </tr>
        }
    </table>
</div>



